ansicolors==1.0.2
Babel==2.1.1
boto==2.39.0
debtcollector==1.0.0
ecdsa==0.13
Flask==0.10.1
funcsigs==0.4
httpretty==0.8.10
iso8601==0.1.11
itsdangerous==0.24
Jinja2==2.8
keystoneauth1==2.0.0
MarkupSafe==0.23
monotonic==0.4
moto==0.4.23
msgpack-python==0.4.6
netaddr==0.7.18
netifaces==0.10.4
nose==1.3.7
oslo.config==3.0.0
oslo.i18n==3.0.0
oslo.serialization==2.0.0
oslo.utils==3.0.0
paramiko==1.16.0
pbr==1.8.1
positional==1.0.1
prettytable==0.7.2
progressbar2==3.5.1
pycrypto==2.6.1
python-keystoneclient==2.0.0
python-novaclient==2.35.0
pytz==2015.7
requests==2.8.1
simplejson==3.8.1
six==1.10.0
stackctl==0.2.1
stevedore==1.9.0
tabulate==0.7.5
Werkzeug==0.11.4
wrapt==1.10.5
xmltodict==0.10.1
